*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

li {
  list-style: none;
}

a,
button {
  font-family: "Rajdhani", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #7f2ef8;
}

h1 {
  font-family: "Rajdhani", sans-serif;
  line-height: 60px;
  color: #ffffff;
  font-size: 6rem;
  font-weight: 900;
}

section:not(:nth-child(1)):not(:nth-child(2)) {
  padding: 8rem 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: #686868;
  font-size: 1.6rem;
  position: relative;
  overflow-x: hidden;
}

.header-primary {
  font-family: "Rajdhani";
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
}

.header-primary.header-primary--white {
  color: #ffffff;
}

.header-secondary {
  display: block;
  font-family: "Rajdhani";
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
}

.header-secondary.header-secondary--dark {
  color: #000000;
}

.header-secondary.header-secondary--purple {
  color: #7f2ef8;
}

.color-purple {
  color: #7f2ef8;
}

.text-center {
  text-align: center;
}

.divider {
  height: 3px;
  width: 30%;
  background-color: #3b1379;
}

.divider.divider--sm {
  width: 3%;
}

.name {
  font-size: 20px;
  color: #3b1379;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.name.name--black {
  color: #000;
}

.position {
  color: #000;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.flip-card {
  height: 330px;
  width: 280px;
  perspective: 1000px;
}
.flip-card__inner {
  height: 100%;
  width: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}
.flip-card:hover .flip-card__inner {
  transform: rotateY(180deg);
}
.flip-card__front, .flip-card__back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
  justify-content: center;
  color: #fff;
  padding: 0 2.5rem;
}
.flip-card__front span i, .flip-card__back span i {
  color: #7f2ef8;
  font-size: 4rem;
}
.flip-card__front a i, .flip-card__back a i {
  margin-left: 1rem;
  color: #000000;
  font-size: 2rem;
}
.flip-card__front p, .flip-card__back p {
  color: #686868;
}
.flip-card__front a, .flip-card__back a {
  font-weight: 600;
  color: #000000;
}
.flip-card__front {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.flip-card__front.transparent {
  background-color: transparent;
  border: 1px solid rgba(127, 46, 248, 0.5);
  border-radius: 5px;
  align-items: center;
}
.flip-card__front.transparent span {
  margin-top: -152px;
}
.flip-card__front.transparent span i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4rem;
}
.flip-card__front.transparent a i {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 2rem;
}
.flip-card__front.transparent p {
  color: rgba(255, 255, 255, 0.8);
}
.flip-card__front.transparent a {
  padding: 1rem 2rem;
  align-self: start;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.flip-card__front.circle, .flip-card__back.circle {
  background-color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-card__back.circle {
  background-color: #7f2ef8;
  background-image: none;
}
.flip-card__back.circle span i {
  color: #fff;
}
.flip-card__back.transparent {
  align-items: center;
  border-radius: 5px;
}
.flip-card__back.transparent span {
  margin-top: -152px;
}
.flip-card__back.transparent span i {
  color: #ffffff;
  font-size: 4rem;
}
.flip-card__back.transparent a i {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 2rem;
}
.flip-card__back.transparent p {
  color: #ffffff;
}
.flip-card__back.transparent a {
  padding: 1rem 2rem;
  align-self: start;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.flip-card__back {
  background-image: url("../assets/img/home/card/card-back-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}
.flip-card__back span i {
  color: #ffffff;
  font-size: 4rem;
}
.flip-card__back a i {
  margin-left: 1rem;
  color: #ffffff;
  font-size: 2rem;
  transition: all 1.5s;
}
.flip-card__back p {
  color: #ffffff;
}
.flip-card__back a {
  font-weight: 600;
  color: #ffffff;
}
.flip-card__back a {
  font-weight: 600;
  color: #ffffff;
}
.flip-card__back a:hover i {
  transform: translateX(10px);
}

.flip-card.transparent {
  height: 260px;
  width: 350px;
}

.flip-card.circle {
  height: 145px;
  width: 145px;
  border-radius: 50%;
}

.work-process__items__box:hover .flip-card__inner {
  transform: rotateY(180deg);
}

.btn {
  color: #ffffff;
  background-color: #7f2ef8;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: none;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
}

.btn.btn--empty {
  background-color: transparent;
  border: 2px solid #fff;
}

.btn.btn--empty:hover {
  background-color: #7f2ef8;
  border: 1px solid transparent;
}

.btn.btn-lg,
.btn.btn--empty.btn-lg {
  padding: 1rem 4rem;
}

.btn.btn--nav:hover {
  color: #7f2ef8;
  background-color: transparent;
}

header {
  position: sticky;
  top: 0;
  z-index: 100000;
}

.header {
  height: 10rem;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  justify-content: space-between;
}
.header h2 {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.header__nav {
  justify-content: end;
  width: 80%;
  gap: 1rem;
}
.header__nav__list {
  gap: 3rem;
}
.header__nav__list i {
  font-size: 1rem;
  color: #686868;
}
@media screen and (max-width: 59em) {
  .header__nav ul,
  .header__nav a.btn {
    display: none;
  }
}
.header__nav button {
  display: none;
  background-color: transparent;
  border: none;
}
.header__nav button i {
  font-size: 30px;
}
@media screen and (max-width: 59em) {
  .header__nav button {
    display: block;
  }
}
.header__nav a.active {
  color: #7f2ef8;
}
@media screen and (max-width: 59em) {
  .header {
    background-color: #000000;
  }
}

header.sticky {
  background-color: #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header.mobile {
  position: fixed;
  width: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
}
.header.mobile.open {
  transform: translateX(0);
}
.header.mobile nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
}
@media screen and (max-width: 59em) {
  .header.mobile ul,
  .header.mobile a.btn {
    display: block;
  }
}

.section-footer {
  padding-top: 6rem;
  background-color: #2e003f;
  color: white;
}
.section-footer .footer {
  gap: 3rem;
}
@media (max-width: 59em) {
  .section-footer .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 59em) {
  .section-footer .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (max-width: 34em) {
  .section-footer .footer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.section-footer .footer__mission {
  padding-right: 4rem;
}
.section-footer .footer__mission .logo {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 900;
}
.section-footer .footer__mission .logo,
.section-footer .footer__mission .mission-text {
  padding-bottom: 3rem;
}
@media (max-width: 34em) {
  .section-footer .footer__mission {
    padding-right: 0rem;
  }
}
.section-footer .footer__nav-heading {
  font-size: 25px;
  font-family: "Rajdhani";
  font-weight: 800;
  padding-bottom: 3rem;
}
.section-footer .footer__nav.newsletter form {
  padding-top: 1.5rem;
}
.section-footer .footer__nav.newsletter form input {
  border-radius: 5px;
  width: 80%;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.section-footer .footer__nav.newsletter form input:focus {
  outline: 2px solid #4b0082;
  border: #4b0082;
  box-shadow: 0 0 5px rgba(58, 122, 228, 0.5);
}
.section-footer .footer__nav.newsletter form Button {
  align-self: start;
}
.section-footer .footer_links-item li:not(:last-child) {
  padding-bottom: 3rem;
}
.section-footer .footer__link {
  color: #dcdada;
}
.section-footer .footer__link i {
  color: #7f2ef8;
  margin-right: 1rem;
}
.section-footer .footer__link:hover {
  color: #7f2ef8;
}
.section-footer .footer__copyright {
  align-items: center;
  padding: 2rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.section-footer .footer__copyright i {
  padding: 2rem;
  border-radius: 50%;
  background-color: #4b0082;
}
@media (max-width: 59em) {
  .section-footer .footer__copyright {
    flex-direction: column;
  }
}

.swiper.swiper--hero {
  margin-top: -100px;
  width: 100%;
  height: 140vh;
  box-shadow: none !important;
}
.swiper.swiper--hero .swiper-slide {
  justify-content: center;
}
.swiper.swiper--hero .swiper-content {
  gap: 2rem;
  padding: 0 0 0 6rem;
  margin-top: 15rem;
}
.swiper.swiper--hero .swiper-content .swiper-content div {
  padding: 0 0 3rem;
}
.swiper.swiper--hero .swiper-content p {
  color: #ffffff;
}
.swiper.swiper--hero .swiper-content div {
  gap: 2rem;
  padding-top: 2rem;
}
.swiper.swiper--hero .swiper-slide.slider--2 {
  align-items: center;
  justify-content: center;
}
.swiper.swiper--hero .swiper-slide.slider--2 .slider-content {
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.swiper.swiper--hero .swiper-slide.slider--2 .slider-content h1 {
  text-align: center;
}
.swiper.swiper--hero .swiper-slide {
  background-image: url("../assets/img/home/hero-slider/slider-img--1.gif "); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper.swiper--hero .swiper-slide.slider--2 {
  background-image: url("../assets/img/home/hero-slider/slider-img--2.png"); /* Replace with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.swiper.swiper--hero .swiper-button-prev,
.swiper.swiper--hero .swiper-button-next {
  color: white;
  background-color: rgba(33, 32, 32, 0.5);
  padding: 1rem 1rem;
  border-radius: 3px;
}
@media (max-width: 34em) {
  .swiper.swiper--hero .swiper-button-prev,
  .swiper.swiper--hero .swiper-button-next {
    display: none;
  }
}
.swiper.swiper--hero .swiper-button-prev:hover,
.swiper.swiper--hero .swiper-button-next:hover {
  background-color: #7f2ef8;
}

.swiper.swiper--testimonial {
  width: 100%;
  height: min-content;
  box-shadow: none !important;
}
.swiper.swiper--testimonial .swiper-slide {
  gap: 2rem;
  text-align: center;
  align-items: center;
  background-color: transparent;
}
.swiper.swiper--testimonial .swiper-slide i {
  color: #ff9000;
  font-size: 20px;
}
.swiper.swiper--testimonial .swiper-slide p {
  color: #000;
  font-size: 18px;
  padding: 0 12rem;
  line-height: 2;
}
.swiper.swiper--testimonial .swiper-button-prev,
.swiper.swiper--testimonial .swiper-button-next {
  margin-top: -150px;
  color: white;
  background-color: #7f2ef8;
  height: 50px;
  width: 50px;
  padding: 1rem;
  border-radius: 50%;
}
@media (max-width: 34em) {
  .swiper.swiper--testimonial .swiper-button-prev,
  .swiper.swiper--testimonial .swiper-button-next {
    display: none;
  }
}

.container {
  margin: 0 auto;
  max-width: 126rem;
  padding: 0 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column.gap--md,
.flex-row.gap--md {
  gap: 1.5rem;
}

.grid {
  display: grid;
  gap: 4rem;
}

.grid-cols--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-cols--4 {
  grid-template-columns: repeat(4, 1fr);
}

.services {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  position: relative;
  margin-top: -100px;
  z-index: 20;
}
@media screen and (max-width: 77em) {
  .services {
    gap: 5rem;
    padding-top: 6rem;
    margin-top: 0px;
  }
}

.who-we-are__content {
  gap: 2rem;
  background-image: url("../assets/img/home/who-we-are/img--2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.who-we-are__content__services {
  align-items: start;
  gap: 1.5rem;
}
.who-we-are__content__services__icon {
  background-color: rgba(127, 46, 248, 0.2);
  border-radius: 5px;
  padding: 2rem 3rem;
}
.who-we-are__content__services__icon i {
  color: #7f2ef8;
  font-size: 35px;
}
.who-we-are__content__cta {
  gap: 2rem;
}
.who-we-are__content__cta a:hover {
  background-color: #000000;
}
.who-we-are__content__cta__img {
  gap: 1rem;
}
.who-we-are__content__cta__img figure img {
  border-radius: 50%;
  width: 100%;
}
.who-we-are__content__cta div p:first-child {
  color: #000000;
  font-weight: 700;
}
.who-we-are__img {
  justify-self: center;
}
.who-we-are__img figure {
  max-width: 100%;
}
.who-we-are__img figure img {
  width: 100%;
}
@media screen and (max-width: 77em) {
  .who-we-are {
    grid-template-columns: 1fr;
  }
}

.services-we-provider {
  background-image: url("../assets/img/home/services-we-provide/img--1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.services-we-provider__cards {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.services-we-provider h2 {
  padding-bottom: 4rem;
}

.work-process h2 {
  padding-bottom: 6rem;
}
.work-process__items {
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.work-process__items__box {
  position: relative;
  text-align: center;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}
.work-process__items__box__item-num {
  z-index: 100;
  top: 0;
  left: 58%;
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #7f2ef8;
}
.work-process__items__box:hover .work-process__items__box__item-num {
  background-color: #000;
}
.work-process__items__box.box--1::before, .work-process__items__box.box--2::before, .work-process__items__box.box--3::before {
  z-index: -100;
  content: "";
  position: absolute;
  top: -20%;
  left: 40%;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/home/work-process/arrow--1.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 72em) {
  .work-process__items__box.box--1::before, .work-process__items__box.box--2::before, .work-process__items__box.box--3::before {
    background-image: none;
  }
}
.work-process__items__box.box--2::before {
  background-image: url("../assets/img/home/work-process/arrow--2.png");
}
@media (max-width: 72em) {
  .work-process__items__box.box--2::before {
    background-image: none;
  }
}

.section-contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-contact-us .contact-us {
  gap: 4rem;
  padding: 5rem;
  background-color: #ece6fb;
  width: 90%;
  border-radius: 25px;
}
@media (max-width: 59em) {
  .section-contact-us .contact-us {
    grid-template-columns: 1fr;
  }
}
.section-contact-us .contact-us__form {
  justify-items: center;
  background-color: #7f2ef8;
  border-radius: 8px;
  padding: 5rem;
}
.section-contact-us .contact-us__form > h2 {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 5rem;
}
.section-contact-us .contact-us__form div input {
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(67, 32, 124, 0.6039215686);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  line-height: 40px;
  font-size: 1.6rem;
  border-color: transparent;
  outline: none;
}
.section-contact-us .contact-us__form div input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 1rem;
}
.section-contact-us .contact-us__form div input[name=message] {
  width: 100%;
  display: block;
  padding-bottom: 7rem;
}
.section-contact-us .contact-us__form div input .section-contact-us .contact-us__form > input:focus {
  border-radius: 5px;
}
.section-contact-us .contact-us__form button {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #3b1379;
  padding: 1.5rem 0rem;
}
.section-contact-us .contact-us__form button span {
  font-size: 1.8rem;
}
.section-contact-us .contact-us__FAQ {
  align-self: center;
}
.section-contact-us .contact-us__FAQ h2 {
  padding: 1rem 0 4rem 0;
}
.section-contact-us .contact-us__FAQ .faq-item {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
}
.section-contact-us .contact-us__FAQ .faq-question {
  color: #000;
  border-radius: 8px;
  padding: 1rem 5rem;
  font-size: 1.2em;
  font-weight: bold;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3cff7;
  overflow: hidden;
}
.section-contact-us .contact-us__FAQ .faq-answer {
  color: #000;
  border-top: 1px solid #ebebeb;
  border-radius: 0 0 8px 8px;
  font-size: 1em;
  line-height: 1.6;
  background-color: #e3cff7;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.section-contact-us .contact-us__FAQ .faq-answer__content {
  padding: 2rem 3rem;
}
.section-contact-us .contact-us__FAQ .faq-item.open .faq-answer {
  max-height: 300px; /* Adjust as needed or use `none` */
}

.section-team-members .team-members {
  padding-top: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.section-team-members .team-members__box {
  width: 250px;
}
.section-team-members .team-members__box figure {
  border-radius: 8px;
  width: 100%;
}
.section-team-members .team-members__box figure img {
  width: 100%;
  border-radius: 8px;
}
.section-team-members .team-members__box span {
  display: block;
}

.section-testimonial {
  padding: 0 !important;
}
.section-testimonial .testimonial {
  padding: 4rem 0;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/home/testimonial/testi-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-testimonial .testimonial__img {
  padding-top: 2rem;
  gap: 2rem;
}
.section-testimonial .testimonial__img figure {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.section-testimonial .testimonial__img figure img {
  width: 100%;
}