.btn {
  color: $color-white;
  background-color: $color-primary;
  padding: 1rem 2rem;
  border-radius: 2px;
  border: none;
  transition: all 0.5s;
}
.btn:hover {
  color: #fff;
}
.btn.btn--empty {
  background-color: transparent;
  border: 2px solid #fff;
}
.btn.btn--empty:hover {
  background-color: $color-primary;
  border: 1px solid transparent;
}

.btn.btn-lg,
.btn.btn--empty.btn-lg {
  padding: 1rem 4rem;
}

.btn.btn--nav:hover {
  color: $color-primary;
  background-color: transparent;
}
