.flip-card {
  height: 330px;
  width: 280px;
  perspective: 1000px;
  &__inner {
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-sizing: border-box;
  }

  &:hover &__inner {
    transform: rotateY(180deg);
  }

  &__front,
  &__back {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
    justify-content: center;
    color: #fff;
    padding: 0 2.5rem;
    & span i {
      color: $color-primary;
      font-size: 4rem;
    }
    & a i {
      margin-left: 1rem;
      color: $color-black;
      font-size: 2rem;
    }
    & p {
      color: $color-text--default;
    }
    & a {
      font-weight: 600;
      color: $color-black;
    }
  }
  &__front {
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  &__front.transparent {
    background-color: transparent;
    border: 1px solid rgb(127, 46, 248, 0.5);
    border-radius: 5px;
    align-items: center;
    & span {
      margin-top: -152px;
    }
    & span i {
      color: rgb(255, 255, 255, 0.8);
      font-size: 4rem;
    }
    & a i {
      margin-left: 1rem;
      color: $color-white;
      font-size: 2rem;
    }
    & p {
      color: rgb(255, 255, 255, 0.8);
    }
    & a {
      padding: 1rem 2rem;
      align-self: start;
      font-weight: 600;
      color: $color-white;
      background-color: rgb(255, 255, 255, 0.1);
      border-radius: 2px;
    }
  }

  &__front.circle,
  &__back.circle {
    background-color: #ffff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__back.circle {
    background-color: $color-primary;
    background-image: none;
    & span i {
      color: #fff;
    }
  }
  &__back.transparent {
    align-items: center;
    border-radius: 5px;
    & span {
      margin-top: -152px;
    }

    & span i {
      color: $color-white;
      font-size: 4rem;
    }
    & a i {
      margin-left: 1rem;
      color: $color-white;
      font-size: 2rem;
    }
    & p {
      color: $color-white;
    }
    & a {
      padding: 1rem 2rem;
      align-self: start;
      font-weight: 600;
      color: $color-white;
      background-color: rgb(255, 255, 255, 0.1);
      border-radius: 2px;
    }
  }
  &__back {
    background-image: url("../assets/img/home/card/card-back-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    & span i {
      color: $color-white;
      font-size: 4rem;
    }
    & a i {
      margin-left: 1rem;
      color: $color-white;
      font-size: 2rem;
      transition: all 1.5s;
    }
    & p {
      color: $color-white;
    }
    & a {
      font-weight: 600;
      color: $color-white;
    }
    & a {
      font-weight: 600;
      color: $color-white;
    }
    & a:hover i {
      transform: translateX(10px);
    }
  }
}

.flip-card.transparent {
  height: 260px;
  width: 350px;
}

.flip-card.circle {
  height: 145px;
  width: 145px;
  border-radius: 50%;
}

.work-process__items__box:hover .flip-card__inner {
  transform: rotateY(180deg);
}
