// Header
header {
  position: sticky;
  top: 0;
  z-index: 100000;
}

.header {
  height: 10rem;
  align-items: center;
  background-color: transparent;
  color: $color-white;
  justify-content: space-between;

  & h2 {
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 900;
  }
  //   nav
  &__nav {
    justify-content: end;
    width: 80%;
    gap: 1rem;
    &__list {
      gap: 3rem;
      i {
        font-size: 1rem;
        color: $color-text--default;
      }
    }
    @media screen and (max-width: 59em) {
      ul,
      a.btn {
        display: none;
      }
    }

    button {
      display: none;
      background-color: transparent;
      border: none;
      & i {
        font-size: 30px;
      }
      @media screen and (max-width: 59em) {
        display: block;
      }
    }
    a.active {
      color: $color-primary;
    }
  }
  @media screen and (max-width: 59em) {
    background-color: $color-black;
  }
}

header.sticky {
  background-color: $color-black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header.mobile {
  position: fixed;
  width: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  align-items: center;
  gap: 4rem;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
  &.open {
    transform: translateX(0);
  }

  nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.9rem;
    }
  }
  @media screen and (max-width: 59em) {
    ul,
    a.btn {
      display: block;
    }
  }
}
