*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

li {
  list-style: none;
}
a,
button {
  font-family: "Rajdhani", sans-serif;
  color: $color-white;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color: $color-primary;
}
h1 {
  font-family: "Rajdhani", sans-serif;
  line-height: 60px;
  color: $color-white;
  font-size: 6rem;
  font-weight: 900;
}

section:not(:nth-child(1)):not(:nth-child(2)) {
  padding: 8rem 0;
}

html {
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
  scroll-behavior: smooth;

  // 1200px larger desktop
  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  // 940px tablet and smaller desktop
  @media (max-width: 59em) {
    font-size: 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 26px;
  color: $color-text--default;
  font-size: $default-font-size;
   position: relative;
  overflow-x: hidden;
}
